{{define "content"}}
<div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell--span-6">
        <h1>Blue-Green Deployment</h1>
        <p>
            This page shows the load balancing between application versions
            based on route mappings.
        </p>
        <div id="bluegreenBlock"></div>
        <div id="donut-chart" style="margin-top: 10%; height: 250px; text-align: left;"></div>
        <div class="button-container" style="margin-top: 10%; text-align: center;">
            <button class="mdc-button md-small mdc-button--raised next" onclick="startTimer();">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label" style="color: white; font-size: small;">
                    Start
                </span>
            </button>
            <button class="mdc-button mdc-button--raised next" onclick="reset();">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label" style="color: white; font-size: small;">
                    Reset
                </span>
            </button>
            <button class="mdc-button mdc-button--raised next" onclick="stopTimer();">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label" style="color: white; font-size: small;">
                    Stop
                </span>
            </button>
        </div>
    </div>
    <div class="mdc-layout-grid__cell">
        <div>
            <h2>Application Env Info</h2>
            <p>Application Id: {{.ApplicationId}}</p>
            <p>Application Name: {{.ApplicationName}}</p>

            <h2>Service Info</h2>
            {{range .Services}}
                <p>{{.Name}}</p>
            {{end}}
        </div>
    </div>
</div>

<script>
    var INTERVAL = 1000
    var timerID = 0;
    var versions = {};
    var startTime;
    var colors = [ "#90A6D4", "#90D49C" ];

    var chartData = [ {
        label : "blue",
        value : 10
    }, {
        label : "green",
        value : 1
    } ]

    var chart = Morris.Donut({
        element : 'donut-chart',
        colors : colors,
        data : chartData,
        resize : true
    });

    function startTimer() {
        timerID = setInterval(startLoad, INTERVAL);
    }

    function stopTimer() {
        if (timerID)
            clearInterval(timerID);
    }
    
    function reset() {
        updateScreen(true);
    }
    
    function startLoad() {
        $.get("/bluegreen-check", function(obj) {
            const { CF_INSTANCE_ADDR, VCAP_APPLICATION } = {...obj};
            const jObj = JSON.parse(VCAP_APPLICATION);
            if (jObj["application_name"] in versions) {
                versions[jObj["application_name"]] = 1 + versions[jObj["application_name"]];
            } else {
                versions[jObj["application_name"]] = 1;
            }
            updateScreen(false);
        });
    }

    function updateScreen(resetCounts) {
        var html = '';
        var htmlDetail = '';

        chartData = [];

        var i = 2;
        var color;
        for ( var version in versions) {
            if(resetCounts)
                versions[version] = 0
                
            html += '<p><b><span style="color:' + colors[i % 2] + '">'
                    + version + '</span></b> - ' + versions[version]
                    + '</p>'

            i++;

            item = {};
            item.label = version;
            item.value = versions[version];
            chartData.push(item);
        }

        chart.setData(chartData);
        $('#bluegreenBlock').html(html);
    }
</script>
{{end}}